services:
  file-api:
    build:
      context: ./files_storage
      dockerfile: ./Dockerfile
    volumes:
      - "./fs:/app/fs"  # Для хранения файлов
    ports:
      - "8083:8000"

  postgres:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: sound_db
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d sound_db"]
      interval: 5s
      retries: 5
      timeout: 3s

  adminer:
    image: adminer
    restart: always
    environment:
      ADMINER_DEFAULT_SERVER: postgres
    ports:
      - "8081:8080"

  db_init:
    image: postgres:latest
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql
    environment:
      PGPASSWORD: password
    entrypoint: ["/bin/sh", "-c", "sleep 5 && psql -h postgres -U user -d sound_db -f /docker-entrypoint-initdb.d/init.sql"]
    restart: "no"

  db-api:
    build:
      context: .
      dockerfile: ./database/Dockerfile
    restart: always
    depends_on:
      db_init:
        condition: service_completed_successfully
    environment:
      POSTGRES_DB: sound_db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_HOST: postgres
      POSTGRES_PORT: 5432

  server:
    build:
      context: .
      dockerfile: ./server/Dockerfile
    restart: always
    environment:
      DB_API_URL: "http://db-api:8000"
      FILE_API_URL: "http://file-api:8000"
      SECRET_KEY: "supersecretkey"
      FRONTEND_URL: "http://localhost:8080"
      #SMTP_HOST: mailhog
      #SMTP_PORT: 1025
      #FROM_EMAIL: your_email@example.com
      #REDIS_URL: "redis://redis:6379"
      MONGO_URI: mongodb://mongo:27017
      MONGO_DB: test_db
    depends_on:
      db_init:
        condition: service_completed_successfully
    ports:
      - "8080:8000"

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

#  mailhog:
#    image: mailhog/mailhog
#    container_name: mailhog
#    ports:
#      - "1025:1025"  # Порт для SMTP
#      - "8025:8025"  # Веб-интерфейс

#  redis:
#    image: redis:latest
#    container_name: redis
#    ports:
#      - "6379:6379"
#    volumes:
#      - redis_data:/data

volumes:
  postgres_data:
    driver: local
  mongo_data: