{% extends "base.html" %}

{% block content %}
<h2>Тест на гармонический слух</h2>

<!-- Панель с результатами -->
<div id="result-container">
    <p id="result-text"></p>
</div>

<div id="test-container">
    <p>Прослушайте последовательность аккордов. Аккорд первой ступени тональности проигрывается в начале и в конце. Укажите остальных аккордов.</p>

    <div class="audio-block">
        <audio id="original-audio" controls></audio>
    </div>
</div>

<!-- Форма с динамически создаваемыми выпадающими списками -->
<form onsubmit="submitAnswer(event)" id="test-form">
    <div id="steps-container"></div> <!-- Контейнер для выпадающих списков -->
    <button type="submit" id="submit-button">Подтвердить</button>
</form>

<!-- Подключаем JS -->
<script src="{{ url_for('static', path='js/chords_test.js') }}"></script>

{% endblock %}